h1 {
    text-align: center;
    color: palevioletred;
    
    
}
fieldset {
    text-align: center;
    border-color: palevioletred;
    
}
legend {
    font-size: xx-large;
    color: palevioletred;
}

input,textarea {
    border-radius: 4px;
    border-width: 1.5px;
    border-color: palevioletred;
    border-style: inset;
    width: 35%;
    background-color:rgb(248, 217, 231);
    
}

textarea {
    width: 80%;
    
}

button {
    border-radius: 4px;
    background-color: rgb(255, 0, 149);
    width: 100px;
    height: 50px;
    
}

button:focus {
    background-color: black;
    color: pink;
}